## Nested For Loop

In [ ]:
py_list1 = [10,20,30,40,50]
py_list2 = [50,40,30,20,10]
for x in py_list1:
    print("My value of x is : ",x)
    for y in py_list2:
        print("My Value of y is:",y,"My value of X is:",x)

My value of x is :  10
My Value of y is: 50 My value of X is: 10
My Value of y is: 40 My value of X is: 10
My Value of y is: 30 My value of X is: 10
My Value of y is: 20 My value of X is: 10
My Value of y is: 10 My value of X is: 10
My value of x is :  20
My Value of y is: 50 My value of X is: 20
My Value of y is: 40 My value of X is: 20
My Value of y is: 30 My value of X is: 20
My Value of y is: 20 My value of X is: 20
My Value of y is: 10 My value of X is: 20
My value of x is :  30
My Value of y is: 50 My value of X is: 30
My Value of y is: 40 My value of X is: 30
My Value of y is: 30 My value of X is: 30
My Value of y is: 20 My value of X is: 30
My Value of y is: 10 My value of X is: 30
My value of x is :  40
My Value of y is: 50 My value of X is: 40
My Value of y is: 40 My value of X is: 40
My Value of y is: 30 My value of X is: 40
My Value of y is: 20 My value of X is: 40
My Value of y is: 10 My value of X is: 40
My value of x is :  50
My Value of y is: 50 My value of X is: 50
My Value of y is: 40 My value of X is: 50
My Value of y is: 30 My value of X is: 50
My Value of y is: 20 My value of X is: 50
My Value of y is: 10 My value of X is: 50

## break - continue - pass statement

In [ ]:
for i in range(1,11):
  if i==5:
    break
  print(i)

1
2
3
4

In [ ]:
for i in range(1,11):
  if i==5:
    continue
  print(i)

1
2
3
4
6
7
8
9
10

In [ ]:
for i in range(1,11):
  if i==5:
    pass
  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
py_list1 = [10,20,30,40,50]
py_list2 = [50,40,30,20,10]
for x in py_list1:
    print("My value of x is : ",x)
    for y in py_list2:
      if y == 30:
        break
      print("My Value of y is:",y,"My value of X is:",x)

My value of x is :  10
My Value of y is: 50 My value of X is: 10
My Value of y is: 40 My value of X is: 10
My value of x is :  20
My Value of y is: 50 My value of X is: 20
My Value of y is: 40 My value of X is: 20
My value of x is :  30
My Value of y is: 50 My value of X is: 30
My Value of y is: 40 My value of X is: 30
My value of x is :  40
My Value of y is: 50 My value of X is: 40
My Value of y is: 40 My value of X is: 40
My value of x is :  50
My Value of y is: 50 My value of X is: 50
My Value of y is: 40 My value of X is: 50

In [ ]:
py_list1 = [10,20,30,40,50]
py_list2 = [50,40,30,20,10]
for x in py_list1:
    print("My value of x is : ",x)
    for y in py_list2:
      if y == 30:
        continue
      print("My Value of y is:",y,"My value of X is:",x)

My value of x is :  10
My Value of y is: 50 My value of X is: 10
My Value of y is: 40 My value of X is: 10
My Value of y is: 20 My value of X is: 10
My Value of y is: 10 My value of X is: 10
My value of x is :  20
My Value of y is: 50 My value of X is: 20
My Value of y is: 40 My value of X is: 20
My Value of y is: 20 My value of X is: 20
My Value of y is: 10 My value of X is: 20
My value of x is :  30
My Value of y is: 50 My value of X is: 30
My Value of y is: 40 My value of X is: 30
My Value of y is: 20 My value of X is: 30
My Value of y is: 10 My value of X is: 30
My value of x is :  40
My Value of y is: 50 My value of X is: 40
My Value of y is: 40 My value of X is: 40
My Value of y is: 20 My value of X is: 40
My Value of y is: 10 My value of X is: 40
My value of x is :  50
My Value of y is: 50 My value of X is: 50
My Value of y is: 40 My value of X is: 50
My Value of y is: 20 My value of X is: 50
My Value of y is: 10 My value of X is: 50

In [ ]:
# enumerate
py_list2

[50, 40, 30, 20, 10]

In [ ]:
enumerate(py_list2)

In [ ]:
for i,j in enumerate(py_list2):
  print(f"index is {i}, value is {j}")

index is 0, value is 50
index is 1, value is 40
index is 2, value is 30
index is 3, value is 20
index is 4, value is 10

In [ ]:
#increment by 2
x = 50
while (x<=100):
    x += 2
    if x == 70:
      continue
    print(x)

52
54
56
58
60
62
64
66
68
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102

In [ ]:
for enum in enumerate(py_list2):
  print(f"enumerate value: {enum}")

enumerate value: (0, 50)
enumerate value: (1, 40)
enumerate value: (2, 30)
enumerate value: (3, 20)
enumerate value: (4, 10)

In [ ]:
d = {}
for i,j in enumerate(py_list2):
  #print(f"index is {i}, value is {j}")
  d[j] = i
print(d)

{50: 0, 40: 1, 30: 2, 20: 3, 10: 4}

In [ ]:
# zip 
py_list1,py_list2

([10, 20, 30, 40, 50], [50, 40, 30, 20, 10])

In [ ]:
for i,j in zip(py_list1,py_list2):
  print(f"list 1 is {i}, list 2 is {j}")

list 1 is 10, list 2 is 50
list 1 is 20, list 2 is 40
list 1 is 30, list 2 is 30
list 1 is 40, list 2 is 20
list 1 is 50, list 2 is 10

## Files & Directories in Python

A `file` is a sequence of bytes, stored in some `filesystem`, and can be accessed with a `filename`.

A `directory` is a collection of files, and sometimes other directories as well.

The term `folder` is a synonym for directory.

## Create or Open with `open()`

We have to call the `open` function before we perform the following tasks:
* Read an existing file
* Write to a new file
* Append to an existing file
* Overwrite an existing file

*fileobj = open(filename,mode)*

- fileobj - file object returned by `open()`
- filename - String name of the file
- mode - string indicating the file's type and what we want to perform


First Letter of *mode* indicates the operation :
* **r** means read
* **w** means write. If the file doesn't exist, it will be created. If already exists it will be over-written
* **x** means write, but only if file doesn't exist
* **a** means append (write after the end) if the file exists.

Second letter of *mode* is file's type:
- **t** (or nothing) means text
- **b** means binary

*close* the file once write is complete.

In [ ]:
fileobj = open("example.txt","wt")
fileobj.close()

### Write a Text file with `print()`

In [ ]:
f = open("example.txt","wt")
print("Hey this is an example text for the file", file=f)
f.close()

In [ ]:
f = open("example2.txt","wt")
print("Hey this is an example text for the file", file=f)

In [ ]:
f.close()

In [ ]:
#Append 
fileobj = open("example.txt","at")
print("This is new line I am adding",file=fileobj)
fileobj.close()

In [ ]:
#x - write
fileobj = open("example.txt","xt")
print("I am trying to add a text to existing file",file=fileobj)
fileobj.close()

FileExistsError: ignored

In [ ]:
rhymes= """Jack and Jill went up the hill
To fetch a pail of water.
Jack fell down and broke his crown,
And Jill came tumbling after.
"""

In [ ]:
len(rhymes)

123

In [ ]:
#Over write
fileobj = open("rhymes.txt","wt")
fileobj.write(rhymes)
fileobj.close()

## Read a Text file with `read() , readline() , or readlines()`

In [ ]:
fileobj = open("rhymes.txt","rt")
poem = fileobj.read()
fileobj.close()

In [ ]:
print(poem)

Jack and Jill went up the hill
To fetch a pail of water.
Jack fell down and broke his crown,
And Jill came tumbling after.

In [ ]:
fileobj = open("rhymes.txt","rt")
fileobj.readline()

'Jack and Jill went up the hill\n'

In [ ]:
fileobj.readline()

'To fetch a pail of water.\n'

In [ ]:
fileobj.readline()

'Jack fell down and broke his crown,\n'

In [ ]:
fileobj.readline()

'And Jill came tumbling after.\n'

In [ ]:
fileobj.readline()

''

In [ ]:
fileobj.close()

In [ ]:
# readlines()
fileobj = open("rhymes.txt","rt")
fileobj.readlines() # Returns as a python list

['Jack and Jill went up the hill\n',
 'To fetch a pail of water.\n',
 'Jack fell down and broke his crown,\n',
 'And Jill came tumbling after.\n']

## Write a Binary file with `write()`

In [ ]:
#generate binary data
bdata = bytes(range(0,256))
len(bdata)

256

In [ ]:
fileobj = open("binfile","wb") # write binary
fileobj.write(bdata)
fileobj.close()

In [ ]:
# Read
fileobj = open("binfile","rb") # write binary
print(fileobj.read())

b'\x00\x01\x02\x03\x04\x05\x06\x07\x08\t\n\x0b\x0c\r\x0e\x0f\x10\x11\x12\x13\x14\x15\x16\x17\x18\x19\x1a\x1b\x1c\x1d\x1e\x1f !"#$%&\'()*+,-./0123456789:;<=>?@ABCDEFGHIJKLMNOPQRSTUVWXYZ[\\]^_`abcdefghijklmnopqrstuvwxyz{|}~\x7f\x80\x81\x82\x83\x84\x85\x86\x87\x88\x89\x8a\x8b\x8c\x8d\x8e\x8f\x90\x91\x92\x93\x94\x95\x96\x97\x98\x99\x9a\x9b\x9c\x9d\x9e\x9f\xa0\xa1\xa2\xa3\xa4\xa5\xa6\xa7\xa8\xa9\xaa\xab\xac\xad\xae\xaf\xb0\xb1\xb2\xb3\xb4\xb5\xb6\xb7\xb8\xb9\xba\xbb\xbc\xbd\xbe\xbf\xc0\xc1\xc2\xc3\xc4\xc5\xc6\xc7\xc8\xc9\xca\xcb\xcc\xcd\xce\xcf\xd0\xd1\xd2\xd3\xd4\xd5\xd6\xd7\xd8\xd9\xda\xdb\xdc\xdd\xde\xdf\xe0\xe1\xe2\xe3\xe4\xe5\xe6\xe7\xe8\xe9\xea\xeb\xec\xed\xee\xef\xf0\xf1\xf2\xf3\xf4\xf5\xf6\xf7\xf8\xf9\xfa\xfb\xfc\xfd\xfe\xff'

In [ ]:
fileobj.close()

In [ ]:
# Alernate way
with open("rhymes.txt","wt") as fileobj:
  fileobj.write(rhymes)

## Directories

In [ ]:
import os

In [ ]:
os.path.exists("rhymes.txt")

True

In [ ]:
os.mkdir("MyFolder")

In [ ]:
os.rmdir("MyFolder")

In [ ]:
# os.makedirs - create subdirectories
os.makedirs("MyFolder/SubFolder")

In [ ]:
import shutil

In [ ]:
shutil.copy("rhymes.txt","MyFolder/SubFolder/rhymes.txt")

'MyFolder/SubFolder/rhymes.txt'

In [ ]:
# readlines()
fileobj = open("MyFolder/SubFolder/rhymes.txt","rt")
fileobj.readlines() # Returns as a python list

['Jack and Jill went up the hill\n',
 'To fetch a pail of water.\n',
 'Jack fell down and broke his crown,\n',
 'And Jill came tumbling after.\n']

In [ ]:
shutil.move("rhymes.txt","MyFolder/SubFolder/rhymes2.txt")

'MyFolder/SubFolder/rhymes2.txt'

## Functions in Python

Group of statements that performs a specific task.

![image.png]()

In [ ]:
def example():
  print("Good morning")
  print("Good evening")

In [ ]:
example() #() --> Function

Good morning
Good evening

In [ ]:
example()

Good morning
Good evening

In [ ]:
def example(name):
  print("Good morning",name)

In [ ]:
#calling the function
example("Jack")

Good morning Jack

In [ ]:
example("Jill")

Good morning Jill

In [ ]:
def Example2(name):
    """This is a documentation. This function
    takes name as input, and prints Good Morning"""
    print("Good Morning",name)

In [ ]:
Example2("Name")

Good Morning Name

In [ ]:
# Create a Function that accepts two numbers and print sum
def add(a1,a2):
  print(f"a1 is {a1}")
  print(f"a2 is {a2}")
  s = a1+a2
  print(f"Sum is {s}")

In [ ]:
add(10,25)

a1 is 10
a2 is 25
Sum is 35

## Activity:
Build a Calculator which can get 2 inputs from user, and calculator has the Following ability.
- Addition
- Subtraction
- Multiplication
- Division

Program flow is like this:
- Get the Input from user (2 numbers)
- Get the Operation that user wants to perform
- Perform the Mathematical Operation and print the result

In [ ]:
def add(num1,num2):
  return num1+num2

def subtract(num1,num2):
  return num1-num2

def multiply(num1,num2):
  return num1*num2

def divide(num1,num2):
  return num1/num2

num1 = int(input("Please Enter 1st Number:"))
num2 = int(input("Please Enter 2nd Number:"))
print("Enter the Operation you wish to perform:\n1.Addition\n2.Subtraction\n3.Multiplication\n4.Division ")
option = int(input("Your Option:"))

if option == 1:
  print(f"Result: {add(num1,num2)}")

elif option == 2:
  print(f"Result: {subtract(num1,num2)}")

elif option == 3:
  print(f"Result: {multiply(num1,num2)}")

elif option == 4:
  print(f"Result: {divide(num1,num2)}")
else:
  print("Invalid Option")

Please Enter 1st Number:10
Please Enter 2nd Number:20
Enter the Operation you wish to perform:
1.Addition
2.Subtraction
3.Multiplication
4.Division
Your Option:2
Result: -10

## 23- December - 2021

In [ ]:
# Create a Function that accepts two numbers and print sum
def add(a1,a2):
  print(f"a1 is {a1}")
  print(f"a2 is {a2}")
  s = a1+a2
  print(f"Sum is {s}")

In [ ]:
out = add(10,20)

a1 is 10
a2 is 20
Sum is 30

In [ ]:
print(out)

None

In [ ]:
# Create a Function that accepts two numbers and print sum
def add(a1,a2):
  s = a1+a2
  print(f"Sum is {s}")
  return s

In [ ]:
out = add(10,20)

Sum is 30

In [ ]:
print(out)

30

## Default Parameter Values

In [ ]:
# Create a Function that accepts two numbers and print sum
def add(a1,a2=10):
  s = a1+a2
  print(f"Sum is {s}")
  return s

In [ ]:
add(10)

Sum is 20

20

In [ ]:
add(a2=10,a1=15)

Sum is 25

25

In [ ]:
add(10,20,30)

TypeError: ignored

In [ ]:
# Python program to illustrate 
# *args for variable number of arguments
def myFun(*args):
    print(args)
    for arg in args:
        print (arg)
   
myFun('Hello', 'Welcome', 'to', 'Deep Learning')

('Hello', 'Welcome', 'to', 'Deep Learning')
Hello
Welcome
to
Deep Learning

In [ ]:
# def add(a1,a2):
#   s = a1+a2
#   return s

In [ ]:
# Python program to illustrate 
# *args for variable number of arguments
def myFun(*vars):
    print(vars)
    for var in vars:
        print (var)

myFun('Hello', 'Welcome', 'to', 'Deep Learning')

('Hello', 'Welcome', 'to', 'Deep Learning')
Hello
Welcome
to
Deep Learning

In [ ]:
#**kwargs
# KEYWORD = ARGUMENT,
def myFun(**kwargs):
  print(kwargs)
  # for key, value in kwargs.items():
  #     print (f"Key : {key} --- value: {value}")
 
# Driver code
myFun(first ='Deep', mid ='learning', last='DL')

{'first': 'Deep', 'mid': 'learning', 'last': 'DL'}

In [ ]:
# Python program to illustrate 
# *args for variable number of arguments
def myFun(a,*vars):
    print(f"a is {a}")
    print(f"vars is {vars}")
    for var in vars:
        print (var)

myFun('Hello', 'Welcome', 'to', 'Deep Learning')

a is Hello
vars is ('Welcome', 'to', 'Deep Learning')
Welcome
to
Deep Learning

In [ ]:
#**kwargs
# KEYWORD = ARGUMENT,
def myFun(a=10,**kwargs):
  print(f"a is {a}")
  print(f"kwargs is {kwargs}")
  # for key, value in kwargs.items():
  #     print (f"Key : {key} --- value: {value}")

# Driver code
myFun(first ='Deep', mid ='learning', last='DL', a = 50,a1=500,a2 = 1000)

a is 50
kwargs is {'first': 'Deep', 'mid': 'learning', 'last': 'DL', 'a1': 500, 'a2': 1000}

In [ ]:
def myFun(*args,**kwargs):
  print(f"data type of args is {type(args)}, individual elements are:")
  for arg in args:
    print(arg)
  print(f"Keyworded arguments data type is :{type(kwargs)}, key value pair are: ")
  for key, value in kwargs.items():
        print (f"Key : {key} --- value: {value}")

# Now we can use both *args ,**kwargs
myFun('welcome','to','our', 'course',10,20,30,key1="deep",key2="learning",key3="masterclass",n1=100,n2=500)

In [ ]:
# during function call, position argument should be followed by keyworded argument
# Create a Function that accepts two numbers and print sum
def add(a1=10,a2):
  s = a1+a2
  print(f"Sum is {s}")
  return s

SyntaxError: ignored

In [ ]:
def add(a1,a2=20):
  s = a1+a2
  print(f"Sum is {s}")
  return s

In [ ]:
add(a1=10,100)

SyntaxError: ignored

### Function calling another function

Create a Function that takes two values, compute the Sum & average returns the result
Create a Function which calls another function

In [ ]:
def Sum(num1,num2):
    return num1+num2

def Average(num1,num2):
    return (num1+num2)/2

def F1(num1,num2):
    add = Sum(num1,num2)
    avg = Average(num1,num2)
    return add,avg

In [ ]:
F1(10,20)

(30, 15.0)

In [ ]:
#inner functions
def outer_fun(a,b):
  def inner_fun(c,d):
    return c+d
  return inner_fun(a,b)

In [ ]:
outer_fun(10,20)

30

## Anonmyous Functions: Lambda

A python `lambda` function is an anonymous function expressed as a single statement. We can use it instead of a normal tiny function

**Syntax:**

`lambda arguments:expression`

In [ ]:
def result(sequence,func):
  for val in sequence:
    print(func(val))

def operation(a):
  return a**2

In [ ]:
ex_list = [1,2,3,4,5,6]
result(sequence=ex_list,func=operation)

1
4
9
16
25
36

`var`=`lambda argument: expression`

In [ ]:
f = lambda a : a**2

In [ ]:
f(10)

100

In [ ]:
result(sequence=ex_list,func=f)

1
4
9
16
25
36

In [ ]:
result(ex_list,f)

1
4
9
16
25
36

In [ ]:
f(5)

25

In [ ]:
F4 = lambda x,y : x*y
F4(5,6)

30

## List Comprehension

In [ ]:
ex_list = [1,2,3,4,5,6,7,8,9,10]
ex_listx2 = []
for item in ex_list:
  ex_listx2.append(item*2)

In [ ]:
ex_listx2

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

syntax:

 `[expression for item in iterable]`

In [ ]:
[item*2 for item in ex_list ]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

## `if` condition inside a list comprehension

`[expression for item in iterable if condition]`

In [ ]:
#Returns only even numbers
[item for item in ex_list if item%2==0 ]

[2, 4, 6, 8, 10]

## `filter()`

The filter() function in python takes in a function and a list of arguments

Syntax: `filter(function, iterable)`

In [ ]:
#filter(function, iterable)
list_1 = [1,2,3,4,5,6,7,8,9]
filter(lambda x: x%2==0, list_1)
#Returns filter object

In [ ]:
#convert to list
list(filter(lambda x: x%2==0, list_1))

[2, 4, 6, 8]

## Map

This returns a modified list where every value in the original list has been changed based on a function. The example below cubes every number in the list.

In [ ]:
#map(function, iterable)
list_1 = [1,2,3,4,5,6,7,8,9]
map(lambda x: x**3, list_1)

In [ ]:
list(map(lambda x: x**3, list_1))

[1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
from functools import reduce
product = reduce((lambda x,y: x*y), [1,2,3,4])

In [ ]:
product

24